html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  display: grid;
  /*border: 2px solid red;*/
  grid-template-columns: 5% 95%x;
  grid-template-rows: 3fr 14fr 4fr;
  grid-template-areas:
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: -webkit-linear-gradient(70deg,#c5b4c4  40%, #df9bda 40%);
  background: -o-linear-gradient(70deg, #c5b4c4  40%, #df9bda 40%);
  background: -moz-linear-gradient(70deg, #c5b4c4  40%, #df9bda 40%);
  background: linear-gradient(70deg, #c5b4c4  35%, #df9bda 37%);    
}

.header{
  grid-area: hd;
}
.site-name{
  text-align: center;
  margin: 50px;
  font-family: Merriweather, serif;
  font-size: 46px;
    
}
.sidebar{
  grid-area: sd; 
  background-color: #c5b4c4 ;
}

.content{
  grid-area: main;
}

.content-header{
  display:flex;
}

.content-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%; 
}

.image{
  width: auto;
  max-width: 100%;
}

.card{
  width: 400px;
  }

.card-text{
  text-align: justify;
}

figcaption{
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.footer{
  grid-area: ft;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.field{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3px 0;
}

.menu{
  list-style:none;
  font-size: 20px;
}

a:focus, a:hover, a:active, a {
  color: black;
  text-decoration: none;
}
  
label{
  justify-self: end;
  padding-right: 10px;
}

.form-footer{
  margin: 15px;
}

.actions{
  padding: 3px 0;
  text-align: right;
}

@media (max-width: 600px){
.container{
  background: lightblue;
}

.sidebar{ 
  background: lightblue;
}

.content-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
}
}
